<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="header">
        <meta charset="utf-8" />
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
        <title>Blabbler</title>
    </head>
    <body layout:fragment="body">
        <p>Default content.</p>
    </body>
</html>